# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Project Specific
data/
temp/
projects/**/cache/
*.parquet
*.gpx
*.csv

# Strava Secrets (if you saved them in a file)
token.json

# IDEs
.vscode/
.idea/
.DS_Store